  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
  }

  body {
      color: #FFF;
      background: #000;
      font-family: 'Space Grotesk', sans-serif;
  margin-bottom: 20px;
    }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: Butler;
  }

  h1 {
      font-size: 72px;
  }

  h2 {
      font-size: 36px;
  }

  h3 {
      font-size: 26px;
  }

  .container {
      max-width: 1166px;
      margin-left: auto;
      margin-right: auto;
  }

  header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 100px;
      display: flex;
      align-items: center;
      z-index: 999;
  }

  header ul {
      padding-left: 0;
  }

  header ul li {
      list-style: none;
      margin: 0 20px;
      display: inline-block;
  }

  header ul li a {
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
  }

  .banner {
      height: 100vh;
      background: url(../images/banners.jpg) no-repeat;
      background-size: cover;
      background-position: top;
      display: flex;
      align-items: flex-end;
  }

  .banner .text {
      text-align: center;
      padding-bottom: 100px;
  }

  .banner h1 {
      line-height: 80px;
      font-weight: 300;
      margin-bottom: 10px;
  }

  /* GLOBAL BTN STYLE */
  .btn {
      position: relative;
      display: inline-block;
      width: 250px;
      height: 60px;
      color: #000;
      background: #FFF;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      line-height: 60px;
      z-index: 9;
      margin-top: 50px;
      transition: all ease 500ms;
      overflow: hidden;
  }

  .btn::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #000;
      opacity: .9;
      z-index: -1;
      transition: all ease 500ms;
  }

  .btn:hover {
      color: #FFF;
  }

  .btn:hover::before {
      top: 0;
      height: 100%;
  }

  .brand-logo {
      padding: 30px 0;
  }

  .brand-logo-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .brand-logo-inner .item {
      font-size: 2rem;
      opacity: .7;
  }

  /* sec1 started */
  .sec1 {
      position: relative;
      padding: 80px 0;
  }

  .sec1 h3 {
      text-transform: uppercase;
      line-height: 40px;
  }

  .sec1 p {
      line-height: 32px;
  }

  .sec1-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .sec1-inner .text {
      width: 47%;
  }

  .sec1-inner .text-left {
      text-align: right;
  }

  .sec1-inner .text-right {
      text-align: left;
  }

  .sec1::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(to left, transparent, #fff, transparent);
  }

  .sec1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, #fff, transparent);
}


/* sec2 */
.sec2{
    padding: 100px 0 0;
}

.sec2 h2{
    text-transform: uppercase;
}

.sec2 p{
    line-height: 30px;
}

.sec2-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sec2-inner .img{
    width: auto;
}

.sec2-inner .text{
    width: 50%;
    margin-left: -65px;
    z-index: 9;
}

.sec2 .text-inner{
    position: relative;
    margin: 55px 0 0 190px;
}

.sec2 .text-inner::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 8px;
    left: -30px;
    background: linear-gradient(to top , transparent  , #fff);
}

.left-right-sec:nth-child(even) .text{
    margin-right: -65px;
    text-align: right;
}

.left-right-sec:nth-child(even) .text-inner{
    margin: 55px 190px 0 0;
}

.left-right-sec:nth-child(even) .text-inner::before{
    left: inherit;
    right: -30px;
}

.sec3-inner {
    margin-top: 90px;
}

.sec3-slider .item{
    width: 100%;
    height:500px ;
}

.sec3-slider .item img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}

/* +++++++++++++++++++++++++++ */

.slick-arrow{
    position: absolute;
    top: -120px;
}
.slick-prev{
    left: inherit;
    right: 180px;
}
.slick-next{
    right: 90px;
}

.slick-next::before,
.slick-prev::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url(../images/arrov-rigt.svg) no-repeat;
    background-size:30px ;
    background-position: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid #fff;
    opacity: 1;
}

.slick-prev::before{
    background: #fff url(../images/arrov-left.svg) no-repeat;
    background-size:30px ;
    background-position: center;   
}